header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 2.3em;
  width: 2.3em;
}

.nav {
  padding: 0.5rem 2rem;
  background-color: var(--dark-transparent);
  color: var(--light);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.hello-btn {
  background-color: var(--accent-color-light);
  color: #1a1a1a;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}

.nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

@media all and (min-width: 1000px) {
  .logo-container {
    height: 6rem;
    width: 6rem;
  }

  .logo-container:hover {
    transition: 0.2s;
    transform: scale(1.1);
  }

  .nav {
    padding: 0.5rem 6rem;
    font-size: 2rem;
  }

  .nav-list {
    gap: 2.8rem;
  }

  .nav ion-icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .hello-btn:hover {
    transition: 0.2s;
    transform: scale(1.02);
    font-size: 2.2rem;
  }

  .nav button:hover {
    transition: 0.2s;
    transform: scale(1.1);
  }
}
