.resume-text {
  margin-bottom: 2rem;
  padding: 0 10rem;
  display: flex;
  justify-content: flex-end;
}

.resume-text > p {
  color: var(--light);
  font-size: 1.5rem;
}

.word-bold {
  color: var(--hero-accent-color-2);
  font-size: 3rem;
  text-decoration: underline;
}
