a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

.title-font {
  font-family: var(--accent-ff);
}

.heading {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  height: 2.4rem;
  color: var(--light);
}

.icon:hover {
  font-size: 2.6rem;
  transition: 0.2s;
}

.transition {
  transition: 0.6s;
}

/* Form styles */
input {
  font-family: var(--ff);
  font-size: 1.6rem;
  background-color: var(--dark);
  width: 100%;
  color: var(--light);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--accent-color-dark);
  height: 2rem;
}

input:focus {
  border-bottom: 1px solid var(--accent-color-light);
}

textarea {
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  background-color: var(--dark);
  color: var(--light);
  outline: none;
  border: solid 2px var(--accent-color-dark);
  border-radius: 0.5rem;
  height: 5rem;
}

textarea:focus {
  border: 1px solid var(--accent-color-light);
}

.form-submit {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  background-color: var(--accent-color-light);
}

.form-submit:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.04);
}

@media all and (min-width: 600px) {
  .heading {
    font-size: 3.2rem;
  }
}

@media all and (min-width: 1000px) {
  .heading {
    font-size: 3.8rem;
  }
}
