@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --ff: "B612 Mono", monospace;
  --accent-ff: "Yeseva One", cursive;

  --accent-color-light: #ffafcc;
  --accent-color-dark: #cba6f7;

  --hero-accent-color-1: #ffafcc;
  --hero-accent-color-2: #cba6f7;

  --dark: #031b23;
  --dark-transparent: #0414197e;
  --light: #f5e0dc;
}

body {
  font-family: var(--ff);
  background-color: var(--dark);
}

body.light {
  --dark: #fdeff8;
  --light: #1e1e2e;
  --dark-transparent: #c7beca90;

  --hero-accent-color-1: #e14d77;
  --hero-accent-color-2: #494fb1;

  --accent-color-light: #ffafcc;
}
